.masonry-grid {
    column-count: 3;
    margin-left: -30px;
    padding-left: 0;
}

.masonry-grid > * {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 30px;
}

.masonry-grid:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

@media (min-width: 1200px) {

    .masonry-grid {
        margin-left: -40px;
    }

    .masonry-grid > * {
        padding-left: 40px;
    }
}
